#me {
  width:5px;
  height:5px;
  position:relative;
  z-index:1;
  animation-name: down;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  background-color:transparent;
  box-shadow: 20px 0 0 #111,
              25px 0 0 #111,
              30px 0 0 #111,
              35px 0 0 #111,
              40px 0 0 #111,
              45px 0 0 #111,
              15px 5px 0 #111,
              20px 5px 0 tomato,
              25px 5px 0 tomato,
              30px 5px 0 tomato,
              35px 5px 0 ghostwhite,
              40px 5px 0 ghostwhite,
              45px 5px 0 teal,
              50px 5px 0 #111,
              10px 10px 0 #111,
              15px 10px 0 tomato,
              20px 10px 0 tomato,
              25px 10px 0 tomato,
              30px 10px 0 tomato,
              35px 10px 0 ghostwhite,
              40px 10px 0 ghostwhite,
              45px 10px 0 ghostwhite,
              50px 10px 0 ghostwhite,
              55px 10px 0 #111,
              10px 15px 0 #111,
              15px 15px 0 tomato,
              20px 15px 0 tomato,
              25px 15px 0 tomato,
              30px 15px 0 tomato,
              35px 15px 0 ghostwhite,
              40px 15px 0 ghostwhite,
              45px 15px 0 teal,
              50px 15px 0 teal,
              55px 15px 0 #111,
              60px 15px 0 #111,
              5px 20px 0 #111,
              10px 20px 0 #111,
              15px 20px 0 #111,
              20px 20px 0 tomato,
              25px 20px 0 tomato,
              30px 20px 0 tomato,
              35px 20px 0 tomato,
              40px 20px 0 tomato,
              45px 20px 0 tomato,
              50px 20px 0 tomato,
              55px 20px 0 tomato,
              60px 20px 0 tomato,
              65px 20px 0 #111,
              5px 25px 0 #111,
              10px 25px 0 #111,
              15px 25px 0 #111,
              20px 25px 0 #111,
              25px 25px 0 #111,
              30px 25px 0 #111,
              35px 25px 0 #111,
              40px 25px 0 tomato,
              45px 25px 0 tomato,
              50px 25px 0 tomato,
              55px 25px 0 #111,
              60px 25px 0 #111,
              5px 30px 0 #111,
              10px 30px 0 #111,
              15px 30px 0 #111,
              20px 30px 0 #111,
              25px 30px 0 #111,
              30px 30px 0 #111,
              35px 30px 0 bisque,
              40px 30px 0 bisque,
              45px 30px 0 #111,
              50px 30px 0 bisque,
              55px 30px 0 #111,
              10px 35px 0 #111,
              15px 35px 0 #111,
              20px 35px 0 bisque,
              25px 35px 0 bisque,
              30px 35px 0 #111,
              35px 35px 0 bisque,
              40px 35px 0 bisque,
              45px 35px 0 #111,
              50px 35px 0 bisque,
              55px 35px 0 #111,
              15px 40px 0 #111,
              20px 40px 0 bisque,
              25px 40px 0 bisque,
              30px 40px 0 bisque,
              35px 40px 0 bisque,
              40px 40px 0 bisque,
              45px 40px 0 bisque,
              50px 40px 0 bisque,
              55px 40px 0 #111,
              10px 45px 0 #111,
              15px 45px 0 royalblue,
              20px 45px 0 #111,
              25px 45px 0 #111,
              30px 45px 0 bisque,
              35px 45px 0 bisque,
              40px 45px 0 bisque,
              45px 45px 0 bisque,
              50px 45px 0 #111;
}

#me:before {
  display:inline-block;
  content:'';
  width:5px;
  height:5px;
  animation-name: walk-in;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  background-color:transparent;
  box-shadow: 10px 40px 0 #111,
              15px 40px 0 royalblue,
              20px 40px 0 royalblue,
              25px 40px 0 #111,
              30px 40px 0 #111,
              35px 40px 0 #111,
              40px 40px 0 #111,
              45px 40px 0 #111,
              10px 45px 0 #111,
              15px 45px 0 royalblue,
              20px 45px 0 #111,
              25px 45px 0 bisque,
              30px 45px 0 bisque,
              35px 45px 0 #111,
              40px 45px 0 #111,
              10px 50px 0 #111,
              15px 50px 0 royalblue,
              20px 50px 0 #111,
              25px 50px 0 bisque,
              30px 50px 0 bisque,
              35px 50px 0 #111,
              40px 50px 0 #111,
              15px 55px 0 #111,
              20px 55px 0 #111,
              25px 55px 0 #111,
              30px 55px 0 #111,
              35px 55px 0 teal,
              40px 55px 0 teal,
              45px 55px 0 #111,
              20px 60px 0 #111,
              25px 60px 0 teal,
              30px 60px 0 teal,
              35px 60px 0 teal,
              40px 60px 0 teal,
              45px 60px 0 #111,
              25px 65px 0 #111,
              30px 65px 0 #111,
              35px 65px 0 #111,
              40px 65px 0 #111;
}

#me:after {
  display:inline-block;
  content:'';
  width:5px;
  height:5px;
  animation-name: walk-out;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  background-color:transparent;
  box-shadow: 10px 20px 0 #111,
              15px 20px 0 royalblue,
              20px 20px 0 #111,
              25px 20px 0 #111,
              30px 20px 0 #111,
              35px 20px 0 #111,
              40px 20px 0 #111,
              45px 20px 0 #111,
              10px 25px 0 #111,
              15px 25px 0 #111,
              20px 25px 0 bisque,
              25px 25px 0 bisque,
              30px 25px 0 #111,
              35px 25px 0 #111,
              40px 25px 0 #111,
              45px 25px 0 #111,
              50px 25px 0 #111,
              55px 25px 0 #111,
              5px  30px 0 #111,
              10px 30px 0 teal,
              15px 30px 0 #111,
              20px 30px 0 bisque,
              25px 30px 0 bisque,
              30px 30px 0 #111,
              35px 30px 0 #111,
              40px 30px 0 #111,
              45px 30px 0 #111,
              50px 30px 0 teal,
              55px 30px 0 teal,
              60px 30px 0 #111,
              5px  35px 0 #111,
              10px 35px 0 teal,
              15px 35px 0 teal,
              20px 35px 0 #111,
              25px 35px 0 #111,
              30px 35px 0 #111,
              35px 35px 0 #111,
              40px 35px 0 #111,
              45px 35px 0 teal,
              50px 35px 0 teal,
              55px 35px 0 #111,
              10px 40px 0 #111,
              15px 40px 0 #111,
              45px 40px 0 #111,
              50px 40px 0 #111;
}

@keyframes walk-in {
    0%   {opacity:1;}
    49%  {opacity:1;}
    51%  {opacity:0;}
    100% {opacity:0;}
}

@keyframes walk-out {
    0%   {opacity:0;}
    49%  {opacity:0;}
    51%  {opacity:1;}
    100% {opacity:1;}
}

@keyframes down {
    0%   {top:0;}
    49%  {top:0;}
    51%  {top:2px;}
    100% {top:2px;}
}

/**
 * PIKAFOLDER
 */
#job {
  width:5px;
  height:5px;
  position:relative;
  z-index:1;
  animation-name: down;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  background-color:transparent;
  box-shadow: /*j*/
              145px 25px 0 #111,
              150px 25px 0 #111,
              155px 25px 0 #111,
              150px 30px 0 #111,
              140px 35px 0 #111,
              150px 35px 0 #111,
              140px 40px 0 #111,
              145px 40px 0 #111,
              150px 40px 0 #111,
              /*o*/
              160px 30px 0 #111,
              165px 30px 0 #111,
              170px 30px 0 #111,
              160px 35px 0 #111,
              170px 35px 0 #111,
              160px 40px 0 #111,
              165px 40px 0 #111,
              170px 40px 0 #111,
              /*b*/
              180px 25px 0 #111,
              180px 30px 0 #111,
              185px 30px 0 #111,
              190px 30px 0 #111,
              180px 35px 0 #111,
              190px 35px 0 #111,
              180px 40px 0 #111,
              185px 40px 0 #111,
              190px 40px 0 #111,
              /*folder*/
              135px 5px 0 #222,
              140px 5px 0 #222,
              145px 5px 0 #222,
              150px 5px 0 #222,
              155px 5px 0 #222,
              130px 10px 0 #222,
              135px 10px 0 gold,
              140px 10px 0 gold,
              145px 10px 0 gold,
              150px 10px 0 gold,
              155px 10px 0 gold,
              160px 10px 0 #222,
              130px 15px 0 #222,
              135px 15px 0 #222,
              140px 15px 0 #222,
              145px 15px 0 #222,
              150px 15px 0 #222,
              155px 15px 0 #222,
              160px 15px 0 #222,
              165px 15px 0 #222,
              170px 15px 0 #222,
              175px 15px 0 #222,
              180px 15px 0 #222,
              185px 15px 0 #222,
              190px 15px 0 #222,
              195px 15px 0 #222,
              200px 15px 0 #222,
              130px 20px 0 #222,
              200px 20px 0 #222,
              130px 25px 0 #222,
              200px 25px 0 #222,
              130px 30px 0 #222,
              200px 30px 0 #222,
              130px 35px 0 #222,
              200px 35px 0 #222,
              130px 40px 0 #222,
              200px 40px 0 #222,
              130px 45px 0 #222,
              200px 45px 0 #222,
              130px 50px 0 #222,
              135px 50px 0 #222,
              140px 50px 0 #222,
              145px 50px 0 #222,
              150px 50px 0 #222,
              155px 50px 0 #222,
              160px 50px 0 #222,
              165px 50px 0 #222,
              170px 50px 0 #222,
              175px 50px 0 #222,
              180px 50px 0 #222,
              185px 50px 0 #222,
              190px 50px 0 #222,
              195px 50px 0 #222,
              200px 50px 0 #222,
              150px 30px 0 15px gold,
              180px 30px 0 15px gold,
              /*end folder*/
              /*145px 0 0 #111,
              150px 0 0 #111,
              125px 5px 0 #111,
              130px 5px 0 #111,
              135px 5px 0 #111,
              140px 5px 0 #111,
              145px 5px 0 #111,
              150px 5px 0 #111,
              155px 5px 0 #111,
              160px 5px 0 #111,
              165px 5px 0 #111,
              125px 10px 0 #111,
              130px 10px 0 yellow,
              135px 10px 0 yellow,
              140px 10px 0 yellow,
              145px 10px 0 #111,
              150px 10px 0 #111,
              155px 10px 0 #111,
              160px 10px 0 yellow,
              165px 10px 0 yellow,
              170px 10px 0 #111,
              175px 10px 0 #111,
              180px 10px 0 #111,
              130px 15px 0 #111,
              135px 15px 0 yellow,
              140px 15px 0 yellow,
              145px 15px 0 yellow,
              150px 15px 0 #111,
              155px 15px 0 yellow,
              160px 15px 0 yellow,
              165px 15px 0 yellow,
              170px 15px 0 yellow,
              175px 15px 0 yellow,
              180px 15px 0 yellow,
              185px 15px 0 #111,
              135px 20px 0 #111,
              140px 20px 0 yellow,
              145px 20px 0 yellow,
              150px 20px 0 #111,
              155px 20px 0 #111,
              160px 20px 0 yellow,
              165px 20px 0 yellow,
              170px 20px 0 yellow,
              175px 20px 0 yellow,
              180px 20px 0 yellow,
              185px 20px 0 yellow,
              190px 20px 0 #111,
              140px 25px 0 #111,
              145px 25px 0 yellow,
              150px 25px 0 yellow,
              155px 25px 0 #111,
              160px 25px 0 yellow,
              165px 25px 0 yellow,
              170px 25px 0 yellow,
              175px 25px 0 yellow,
              180px 25px 0 yellow,
              185px 25px 0 yellow,
              190px 25px 0 #111,
              130px 30px 0 #111,
              135px 30px 0 #111,
              140px 30px 0 #111,
              145px 30px 0 yellow,
              150px 30px 0 #111,
              155px 30px 0 yellow,
              160px 30px 0 yellow,
              165px 30px 0 yellow,
              170px 30px 0 yellow,
              175px 30px 0 yellow,
              180px 30px 0 #111,
              185px 30px 0 yellow,
              190px 30px 0 yellow,
              195px 30px 0 #111,
              130px 35px 0 #111,
              135px 35px 0 yellow,
              140px 35px 0 yellow,
              145px 35px 0 yellow,
              150px 35px 0 #111,
              155px 35px 0 yellow,
              160px 35px 0 yellow,
              165px 35px 0 yellow,
              170px 35px 0 red,
              175px 35px 0 yellow,
              180px 35px 0 yellow,
              185px 35px 0 yellow,
              190px 35px 0 yellow,
              195px 35px 0 #111,
              135px 40px 0 #111,
              140px 40px 0 chocolate,
              145px 40px 0 chocolate,
              150px 40px 0 chocolate,
              155px 40px 0 chocolate,
              160px 40px 0 chocolate,
              165px 40px 0 yellow,
              170px 40px 0 yellow,
              175px 40px 0 yellow,
              180px 40px 0 yellow,
              185px 40px 0 yellow,
              190px 40px 0 #111,
              130px 45px 0 #111,
              135px 45px 0 chocolate,
              140px 45px 0 chocolate,
              145px 45px 0 chocolate,
              150px 45px 0 yellow,
              155px 45px 0 yellow,
              160px 45px 0 yellow,
              165px 45px 0 yellow,
              170px 45px 0 yellow,
              175px 45px 0 yellow,
              180px 45px 0 #111,
              185px 45px 0 yellow,
              190px 45px 0 #111,
              135px 50px 0 #111,
              140px 50px 0 chocolate,
              145px 50px 0 chocolate,
              150px 50px 0 chocolate,
              155px 50px 0 chocolate,
              160px 50px 0 chocolate,
              165px 50px 0 yellow,
              170px 50px 0 yellow,
              175px 50px 0 #111,
              180px 50px 0 #111,
              185px 50px 0 yellow,*/
              190px 50px 0 #111;
}

#job:after {
  content:'';
  display:inline-block;
  width:5px;
  height:5px;
  animation-name: walk-in;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  box-shadow: 140px 25px 0 #111,
              145px 25px 0 #111,
              150px 25px 0 #111,
              155px 25px 0 yellow,
              160px 25px 0 yellow,
              165px 25px 0 yellow,
              170px 25px 0 yellow,
              175px 25px 0 yellow,
              180px 25px 0 yellow,
              185px 25px 0 yellow,
              190px 25px 0 #111,
              155px 30px 0 #111,
              160px 30px 0 #111,
              165px 30px 0 #111,
              170px 30px 0 yellow,
              175px 30px 0 yellow,
              180px 30px 0 yellow,
              185px 30px 0 #111,
              170px 35px 0 #111,
              175px 35px 0 #111,
              180px 35px 0 #111;
}

#job:before {
  content:'';
  display:inline-block;
  width:5px;
  height:5px;
  animation-name: walk-out;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  box-shadow: 140px 45px 0 #111,
              145px 45px 0 #111,
              150px 45px 0 #111,
              155px 45px 0 yellow,
              160px 45px 0 yellow,
              165px 45px 0 yellow,
              170px 45px 0 yellow,
              175px 45px 0 yellow,
              180px 45px 0 yellow,
              185px 45px 0 #111,
              190px 45px 0 #111,
              140px 50px 0 #111,
              145px 50px 0 yellow,
              150px 50px 0 #111,
              155px 50px 0 #111,
              160px 50px 0 yellow,
              165px 50px 0 yellow,
              170px 50px 0 yellow,
              175px 50px 0 yellow,
              180px 50px 0 #111,
              185px 50px 0 yellow,
              190px 50px 0 yellow,
              195px 50px 0 #111,
              145px 55px 0 #111,
              150px 55px 0 yellow,
              155px 55px 0 yellow,
              160px 55px 0 #111,
              165px 55px 0 #111,
              170px 55px 0 #111,
              175px 55px 0 #111,
              185px 55px 0 #111,
              190px 55px 0 #111,
              150px 60px 0 #111,
              155px 60px 0 #111;
}


/**
 * POKEJOB
 */
#get {
  width:2px;
  height:2px;
  position:relative;
  animation-name: play-ball;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  background-color:transparent;
  box-shadow: 29px 35px 0 #111,
              31px 35px 0 #111,
              33px 35px 0 #111,
              35px 35px 0 #111,
              25px 37px 0 #111,
              27px 37px 0 #111,
              29px 37px 0 red,
              31px 37px 0 red,
              33px 37px 0 red,
              35px 37px 0 red,
              37px 37px 0 #111,
              39px 37px 0 #111,
              23px 39px 0 #111,
              25px 39px 0 red,
              27px 39px 0 red,
              29px 39px 0 ghostwhite,
              31px 39px 0 red,
              33px 39px 0 red,
              35px 39px 0 red,
              37px 39px 0 red,
              39px 39px 0 red,
              41px 39px 0 #111,
              23px 41px 0 #111,
              25px 41px 0 red,
              27px 41px 0 ghostwhite,
              29px 41px 0 ghostwhite,
              31px 41px 0 ghostwhite,
              33px 41px 0 red,
              35px 41px 0 red,
              37px 41px 0 red,
              39px 41px 0 red,
              41px 41px 0 #111,
              21px 43px 0 #111,
              23px 43px 0 red,
              25px 43px 0 red,
              27px 43px 0 red,
              29px 43px 0 ghostwhite,
              31px 43px 0 red,
              33px 43px 0 red,
              35px 43px 0 red,
              37px 43px 0 red,
              39px 43px 0 red,
              41px 43px 0 red,
              43px 43px 0 #111,
              21px 45px 0 #111,
              23px 45px 0 red,
              25px 45px 0 red,
              27px 45px 0 red,
              29px 45px 0 red,
              31px 45px 0 #111,
              33px 45px 0 #111,
              35px 45px 0 red,
              37px 45px 0 red,
              39px 45px 0 red,
              41px 45px 0 red,
              43px 45px 0 #111,
              21px 47px 0 #111,
              23px 47px 0 #111,
              25px 47px 0 red,
              27px 47px 0 red,
              29px 47px 0 #111,
              31px 47px 0 ghostwhite,
              33px 47px 0 ghostwhite,
              35px 47px 0 #111,
              37px 47px 0 red,
              39px 47px 0 red,
              41px 47px 0 #111,
              43px 47px 0 #111,
              21px 49px 0 #111,
              23px 49px 0 ghostwhite,
              25px 49px 0 #111,
              27px 49px 0 #111,
              29px 49px 0 #111,
              31px 49px 0 ghostwhite,
              33px 49px 0 ghostwhite,
              35px 49px 0 #111,
              37px 49px 0 #111,
              39px 49px 0 #111,
              41px 49px 0 ghostwhite,
              43px 49px 0 #111,
              23px 51px 0 #111,
              25px 51px 0 ghostwhite,
              27px 51px 0 ghostwhite,
              29px 51px 0 ghostwhite,
              31px 51px 0 #111,
              33px 51px 0 #111,
              35px 51px 0 ghostwhite,
              37px 51px 0 ghostwhite,
              39px 51px 0 ghostwhite,
              41px 51px 0 #111,
              23px 53px 0 #111,
              23px 53px 0 ghostwhite,
              25px 53px 0 ghostwhite,
              27px 53px 0 ghostwhite,
              29px 53px 0 ghostwhite,
              31px 53px 0 ghostwhite,
              33px 53px 0 ghostwhite,
              35px 53px 0 ghostwhite,
              37px 53px 0 ghostwhite,
              39px 53px 0 ghostwhite,
              41px 53px 0 #111,
              25px 55px 0 #111,
              27px 55px 0 #111,
              29px 55px 0 ghostwhite,
              31px 55px 0 ghostwhite,
              33px 55px 0 ghostwhite,
              35px 55px 0 ghostwhite,
              37px 55px 0 #111,
              39px 55px 0 #111,
              29px 57px 0 #111,
              31px 57px 0 #111,
              33px 57px 0 #111,
              35px 57px 0 #111;
}

@keyframes play-ball {
    0%   {margin-left:0; margin-top:0;}
    88%  {margin-left:0; margin-top:0;}
    90%  {margin-top:-25px;}
    92%  {margin-top:-40px;}
    98%  {margin-top:-25px;}
    100% {margin-left:120px;}
}
